.tag-plugin.image.live-photo
  margin-top: 1rem
  margin-bottom: 1rem
  box-sizing: border-box
  
  .image-bg
    text-align: center
    border-radius: $border-image
    position: relative
    overflow: hidden
    display: flex
    box-sizing: border-box
    flex-direction: column
    justify-content: center
    align-items: center
    margin: auto
    max-width: 100%
    
    &:has(.lazy.loading),&:has(.lazy.error)
      background-color: var(--block)
    
    &:hover
      .icon
        opacity: 1 !important
    
    .live-photo-container
      position: relative
      overflow: hidden
      border-radius: $border-image
      margin: 0 auto
      max-width: min(400px, 100%)
      container-type: inline-size
      
      width: 100%
      aspect-ratio: var(--aspect-ratio, 3/4)
      
      &:has(.lazy.loading), &:has(.lazy.error)
        background-color: var(--block)
      
      video, img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        transition: opacity 1s ease, transform 1s ease, z-index 0.5s ease
        z-index: 1
        top: 0
        left: 0
      
      img
        z-index: 2
        opacity: 1
        border-radius: $border-image
      
      video
        z-index: 1
        opacity: 0
        border-radius: $border-image
        transition: transform 1s ease, z-index 0.5s ease
      
      &.zoom
        img, video
          transform: scale(1.1)
        img
          opacity: 0
          z-index: 1
        video
          opacity: 1
          z-index: 2
        .icon img
          animation: spin 5s linear infinite
      
      .icon
        display: inline-flex
        align-items: center
        padding: 2px
        border-radius: $border-image
        position: absolute
        left: 10px
        top: 10px
        height: 22px
        background-color: rgba(240, 255, 255, 0.6705882353)
        cursor: pointer
        user-select: none
        z-index: 2
        transition: opacity 0.3s ease
        opacity: 0.8
        
        img
          width: 22px
          height: 22px
          position: static
          opacity: 1
          display: inline-block
        
        span
          padding: 3px
          color: #606060
          font-size: 80%
          display: inline-block
      
      @container (max-width: 200px)
        .icon span
          display: none
      
      .warning
        padding: 4px 6px
        margin: 10px
        color: #9a6700
        border-radius: $border-image
        position: absolute
        left: 0
        top: 40px
        background-color: rgba(240, 255, 255, 0.6705882353)
        transition: opacity 0.5s linear
        opacity: 0
        z-index: 10
        max-width: 80%
        
        &.show
          opacity: 1 !important
          display: inline-block !important
  
  .image-meta
    display: flex
    justify-content: center
    padding: 0.5rem 0
    
    .image-caption
      display: inline-block
      font-size: $fs-13
      color: var(--text-p2)
      line-height: 1.5
      text-align: center
      &:empty
        display: none

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}